


  .speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
}

.speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

@media (max-width: 600px) {
    .speedDial {
        position: absolute;
        top: 40px;
        right: 10px;
    }

    .speedDialIcon {
        width: 48px;
        height: 48px;
    }
}

